<h1>Newpassword page</h1>

<form method="post" action="/newpasswordPost">
    <table border="1">
        <tr>
            <td>Newpassword :- </td>
            <td>
                <input type="text" name="newpass">
            </td>
        </tr>
        <tr>
            <td>Confirm :- </td>
            <td>
                <input type="text" name="cpass">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit">
            </td>
        </tr>
    </table>
</form>