<h1>Otp page</h1>

<form method="post" action="/postOtp">
    <table border="1">
        <tr>
            <td>Otp :- </td>
            <td>
                <input type="text" name="otp">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit">
            </td>
        </tr>
    </table>
</form>